* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background: #f7f9fc;
  color: #222;
  line-height: 1.7;
}

header {
  text-align: center;
  padding: 60px 20px;
  background: linear-gradient(135deg, #6ee7ff, #a7f3d0);
}

h1 {
  font-size: 2.8rem;
}

.tagline {
  margin-top: 10px;
  font-size: 1.1rem;
}

section {
  padding: 40px 20px;
  max-width: 900px;
  margin: auto;
}

h2 {
  margin-bottom: 15px;
  color: #2563eb;
}

.skills ul {
  display: flex;
  gap: 15px;
  list-style: none;
  flex-wrap: wrap;
}

.skills li {
  background: #e0f2fe;
  padding: 10px 15px;
  border-radius: 10px;
}

footer {
  text-align: center;
  padding: 25px;
  margin-top: 30px;
  background: #e5e7eb;
}


.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1000px;
  margin: 0 auto;
}

.logo {
  font-weight: 700;
  letter-spacing: 1px;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 20px;
}

.nav-links a {
  text-decoration: none;
  color: #111;
  font-weight: 500;
  transition: 0.2s;
}

.nav-links a:hover {
  color: #2563eb;
}

html {
  scroll-behavior: smooth;
}

.fade-in {
  opacity: 0;
  transform: translateY(25px);
  transition: all 0.6s ease-out;
}

.fade-in.show {
  opacity: 1;
  transform: translateY(0);
}

.contact-form {
  display: grid;
  gap: 12px;
  margin-top: 10px;
}

.contact-form input,
.contact-form textarea {
  padding: 10px 12px;
  border-radius: 8px;
  border: 1px solid #cbd5e1;
  font-size: 0.95rem;
}

.contact-form button {
  padding: 10px;
  border: none;
  border-radius: 10px;
  background: #2563eb;
  color: white;
  font-weight: 600;
  cursor: pointer;
  transition: 0.25s;
}

.contact-form button:hover {
  background: #1d4ed8;
}

.note {
  margin-top: 10px;
  font-size: 0.9rem;
  color: #555;
}

.menu-btn {
  display: none;
  font-size: 1.6rem;
  background: none;
  border: none;
  cursor: pointer;
}

@media (max-width: 768px) {
  .nav-links {
    position: absolute;
    top: 70px;
    right: 20px;
    background: white;
    padding: 15px;
    border-radius: 12px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.08);
    flex-direction: column;
    gap: 12px;
    display: none;
  }

  .nav-links.show-menu {
    display: flex;
  }

  .menu-btn {
    display: block;
  }
}

.actions {
  margin-top: 15px;
}

.cv-btn {
  padding: 10px 16px;
  background: #10b981;
  color: white;
  border-radius: 10px;
  text-decoration: none;
  font-weight: 600;
  transition: 0.25s;
}

.cv-btn:hover {
  background: #059669;
}













