* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background: #f7f9fc;
  color: #222;
  line-height: 1.7;
}

header {
  text-align: center;
  padding: 60px 20px;
  background: linear-gradient(135deg, #6ee7ff, #a7f3d0);
}

h1 {
  font-size: 2.8rem;
}

.tagline {
  margin-top: 10px;
  font-size: 1.1rem;
}

section {
  padding: 40px 20px;
  max-width: 900px;
  margin: auto;
}

h2 {
  margin-bottom: 15px;
  color: #2563eb;
}

.skills ul {
  display: flex;
  gap: 15px;
  list-style: none;
  flex-wrap: wrap;
}

.skills li {
  background: #e0f2fe;
  padding: 10px 15px;
  border-radius: 10px;
}

footer {
  text-align: center;
  padding: 25px;
  margin-top: 30px;
  background: #e5e7eb;
}


.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1000px;
  margin: 0 auto;
}

.logo {
  font-weight: 700;
  letter-spacing: 1px;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 20px;
}

.nav-links a {
  text-decoration: none;
  color: #111;
  font-weight: 500;
  transition: 0.2s;
}

.nav-links a:hover {
  color: #2563eb;
}

html {
  scroll-behavior: smooth;
}

















